h1 {color:green;}
h2 {color:green;}
p {
 /*
 background-color: #000000;
 */
 color:#ffffff;
}
a {
 /*
 background-color: #000000;
 */
 color:#ffffff;
}
body {
 background-image: url("space2.jpg");
 background-color: #cccccc;
}
h1 {
text-shadow: 2px 2px #055c00;
}
h2 {
text-shadow: 2px 2px #055c00;
}
/*
p {
text-shadow: 2px 2px #c9c9c9;			
}
a {
text-shadow: 2px 2px #c9c9c9;			
}
*/
