h1 {color:green;}
h2 {color:green;}
p {color:#cfb791;}
a {color:#cfb791;}
body {
 background-image: url("mesyetigq.png");
 background-color: #cccccc;
}
h1 {
text-shadow: 2px 2px #055c00;
}
h2 {
text-shadow: 2px 2px #055c00;
}
p {
text-shadow: 2px 2px #a69272;			
}
a {
text-shadow: 2px 2px #a69272;			
}
